}

/* /////////ENKELA///////// */
body {
    background: linear-gradient(#050505, #ffffff);
}
div.enkela1 img {
    margin: 0;
    padding: 0;
    height: 800px;
    width: 100%;
}

/* ////////////NAV///////////////// */
nav {
    width: 100%;
    margin: 0;
}
nav ul {
    background: #000000;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li {
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right {
    float: right;
}
ul.topnav li a {
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
}
ul.topnav li a:hover {
    background-color: rgba(121, 121, 121, 0.733);
}
ul.topnav li a:hover {
    background: color #ffffff;
    color: #fff;
}
ul.topnav li.dropdownicon {
    display: none;
}
.veliki1 iframe {
    position: relative;
    width: 550px;
    margin: 0%;
    height: 315px;
}

/* //////////////////za dugmice sure i ostalo////////////// */
.row {
    top: 50%;
    display: flex;
}
.row #rowOverlay {
    top: 50%;
    display: flex;
}
.kontejner {
    position: relative;
    bottom: 250px;
    margin: 25px;
}
.dugme {
    font-size: 32px;
    background-color: rgb(255, 255, 255);
    padding: 15px 50px;
    border-radius: 9px;
    color: rgba(0, 0, 0, 0.842);
    box-shadow: 10px 9px 100px 5px rgb(255, 255, 255);
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}
#rowOverlay {
    align-items: center;
    justify-content: center;
    bottom: 250px;
}
.row::after {
    display: table;
    clear: both;
    content: "";
}
.image_img {
    border-radius: 10px;
    display: block;
    width: 100%;
}
.imageOverlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000, #00031f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.1s;
}
.imageOverlay>* {
    transform: 20px;
    transition: 0.25s;
}
.imagOvarlay--blur {
    backdrop-filter: blur(0px);
}
.imageOverlay:hover {
    opacity: 1;
}
.imageOverlay:hover>* {
    transform: translateY(0px);
}

/* /////////////////////KOLONE///////////////////// */
.col-1 {
    width: 8, 33%
}
;
.col-2 {
    width: 16, 66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83, 33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

/* ///////////////////////////////CARTOON///////////////////////////////// */
img.imgcartoons {
    margin: auto;
    display: block;
    position: relative;
    bottom: 220px;
    width: 250px;
}
.mak iframe {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 260px;
    margin: 25px;
    border-radius: 10%;
}
.snimci {
    position: relative;
    bottom: 160px;
}

/* ///////////////////////UCIONICA/////////////////// */
img.imgucionica {
    margin: auto;
    display: block;
    position: relative;
    bottom: 110px;
    width: 280px;
}
.broj iframe {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 260px;
    margin: 25px;
    bottom: 50px;
    border-radius: 10%;
}
.ucimo {
    position: relative;
    bottom: px;
}

/* ------------SLAJD---------------- */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* ////////////////FOOTER/////////////////////// */
footer.footsy {
    background: repeating-radial-gradient( circle at 0 0, #eee, #ccc 35px);
    /* background-color: rgb(0, 0, 0);
    background-image: radial-gradient( rgb(255, 255, 255), #000000); */
    
    padding-left: 10%;
}
footer.footsy h2 {
    color: #000000;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}
footer.footsy ul li {
    color: #000000;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

/* ///////////////////////MEDIA/////////////////////////////////////// */
@media screen and ( max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    
    ul.topnav li.dropdownicon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownicon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    
    div.enkela1 img {
        height: 400px;
        width: 100%;
    }
    /* ------------ROW------------- */
    
    .row {
        top: 50%;
        display: block;
        max-width: 350px;
        position: relative;
        top: 100px;
        left: 50px;
    }
    
    img.imgcartoons {
        margin: auto;
        display: block;
        position: relative;
        bottom: 150px;
        width: 250px;
    }
    
    .mak iframe {
        display: fixed;
        position: flex;
        left: 1px;
        border-radius: 10%;
    }
    
    img.imgucionica {
        margin: auto;
        display: block;
        position: relative;
        bottom: 60px;
        width: 250px;
    }
    
    .broj iframe {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        left: 5px;
        margin: 25px;
        bottom: 90px;
        border-radius: 10%;
    }
    
    .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }
    
    .fullscreen-bg__video {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 470px;
        height: 350px;
    }
    /* ------------SLAJD---------------- */
    
    .fullscreen-bg {
        position: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }
    
    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    body {
        background: linear-gradient(rgb(151, 151, 151), #fff);
    }
}